
{% block content %}
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-2"></div>
            <h3 style="font-weight: bold">Subscribe to our site by leaving your email address</h3>
            <form class="form-inline my-2 my-lg-0" method="POST">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" name="subscriber" required>
                <button class="btn btn-outline-info btn-sm" type="submit" style="padding: 8px;">Subscribe</button>
              </form>
            <div class="col-md-2"></div>
        </div>
    </div>
   
{% endblock%}