body{
    background-image: url("https://media.istockphoto.com/photos/two-bubble-talk-or-comment-sign-symbol-on-blue-background-picture-id1304849823?b=1&k=20&m=1304849823&s=170667a&w=0&h=WyxXj3Pj8gAD-9UP3bijhKuKFW2_1kCamAa-XbJrpxQ=");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'K2D', sans-serif;
}
.quoting{
    width: 60vw;
    height: 20vh;
    background: rgba(0, 189, 173, 0.5);
}
.iconn{
    color: white;
}
.marginn{
   margin: left 300px;
}
.post-preview{
    margin-left: 40%;
}